/*
ÍCONE:
<img src="https://img.icons8.com/pastel-glyph/64/000000/umbrella.png"/>
SINTAXE(url):
https://highlightjs.org/usage
*/
#menu {padding: 0%;}
#titulo1 {padding: 2% 0% 3% 0%; text-align: center;}
#textoPost {text-align: justify;}