#fundo {background-color: rgb(51, 51, 51); color: white;}
#listaItem {background-color: rgb(32, 32, 32); color: rgb(38, 86, 218);}


#menu {padding: 0%;}
#titulo1 {padding: 4% 0% 3% 0%; text-align: center;}
#titulo2 {padding: 3% 0% 3% 0%;}
#titulo3 {padding-bottom: 3%;}
#textoPost {text-align: justify;}
#msgm {padding: 3% 3% 0% 3%;}
#covid {text-align: center; color: white; background-color: #517ef8; padding: 0.8%;}
#doar {color: rgb(57, 173, 57);}